html, body {
    background:#fff;
    color:#333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

#graph-wrapper {
    width: 100%;
    height: 900px;
    padding: 8px;
    margin-left:auto;
    margin-right:auto;
}

#graph {
    width: 100%;
    height: 100%;
    background: #222;
    float: left;
    border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
}

.sigma-font {
    font-family: lobster, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    display: inline;
}

#controls {
    float: initial;
}

#controls>*,
#controls>*>* {
    float: left;
}

#searchalert {
    display: none;
    padding: 4px;
}

.datetime {
    display: inline;
    font-weight: bold;
}

.alert {
    color: orangered;
    font: 0.8em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footnote {
    padding: 8px;
    font-size: 0.7em;
}

.right {
    float: right;
}

